{% extends 'base.html' %}
{% block content %}
<div class="col-md-6" >
   <div class="row align-items-center">
      <button id="btn-msj-aleatorio" class="btn btn-primary col-md-12">
         Elegir mensaje aleatoriamente
      </button>
   </div>
   <div class="row">
      <form method="get" action="/clasificadorSpam/results">
         <div class="form-group horizontal justify-content-center align-items-center">
            <label for="textAreaMensaje" class="text-center horizontal display-4 text-white">Mensaje a analizar</label>
            <textarea id="text-area-msj" required name="mensaje" class="form-control form-control-lg horizontal" id="textAreaMensaje" rows="3"></textarea>
            <button id="btn-enviar" class="horizontal btn btn-success">
               <i class="fas fa-envelope"></i>
               Enviar
            </button>
         </div>
      </form>
   </div>
   {% if spam %}
   <div>
      <table class="table table-dark">
         <thead>
            <tr>
               <th scope="col">SPAM</th>
               <th scope="col">HAM</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>{{ spam }}</td>
               <td>{{ ham }}</td>
            </tr>
         </tbody>
      </table>
   </div>
   {% endif %}
</div>
{% endblock %}